.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.nav button {
    color: red;
    background-color: black;
    border: 1px solid red;
}

.nav h1 {
    font-size: 5rem;
    color: white;
}

.actions {
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 8rem;
    border-radius: 5px;
    gap: 10px;
    padding: 20px 0px;
}

.actions p {
    font-size: 2rem;
}

