.container {
    height: 900px;
}

.nav {
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    width: 100%;
}

.title {
    font-size: 4rem;
    width: 60%;
    text-align: center;
}

.link {
    color: red;
    font-size: 1.5rem;
    align-self: center;
    width: 20%;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
}

.left {
    flex: 1;
    margin-left: 10px;
}

.right {
    flex: 2;
}

.avatar {
    border: 2px solid gray;
    height: 30%;
    margin-bottom: 20px;
}

.actions {
    border: 2px solid gray;
    height: 60%;
}

.status {
    border: 2px solid gray;
    height: 100%;
    width: 40%;
    margin: 0 auto;
}