.row {
    width: 100px;
    border: 2px solid gray;
    background-color: blue;
    color: white;
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#correct {
    background-color: green;
}

#almost {
    background-color: yellow;
}

#error {
    background-color: gray;
}