

.guessColumn {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.row {
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

