.background {
    background-color: #2a9d8f;
    
}

.addform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.box {
    width: 80%;
}

.paper {
    background-color: #a8dadc !important;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.input {
    font-size: 20px;
    padding: 20px;
    background-color: #f1faee;
}

.submit {
    background-color: #f1faee;
    font-size: 20px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
}